<html lang="en">
<%- include("./partials/head.ejs") %>
    <title>Blog Alida |
        <%= title %>
    </title>

    <body>
        <%- include('./partials/nav.ejs')  %>

            <div class="not-found content">
                OOPS, page not found :)
                <%=title %>
            </div>

            <%- include('./partials/footer.ejs')  %>

    </body>

</html>